.footer{
    border-top: 6px solid var(--primary-color);
    padding-top: 0px;
    margin: 30px 0 0 0;
}
.footer__heading{
    font-size: 1.4rem;
    /*viet hoa*/
    text-transform: uppercase;
    color: var(--text-color);
    padding: 15px 0 20px 0;
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-app{
    flex: 1;
    margin-left: 16px;
    /*can the cha theo hang doc, can giua doc*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img{
    height: 23px;
}
.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}
.footer__bottom{
    padding: 8px 0;
    background-color: #F5F5F5;
}
.footer__text{
    margin: 0;
    text-align: center;
    font-size: 0.2rem;
    color: #737373;
}