.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    /* an nhung thang con nam ngoai */
    overflow: hidden;
}
.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    /* vong lap 31s, lap vo han */
    animation: cycleImages 31s infinite;
}
.slideshow-item img{
    width: 100%;
    height: 100%;
    /* cat hinh neu k vua, thay vi lam meo hinh */
    object-fit: cover;
    animation: zoom 31s infinite;
}
.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

.slideshow-item-text{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 1.5rem 2.8rem;
}
.slideshow-item-text h5{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    /* viet hoa */
    text-transform: uppercase;
    /* can le */
    letter-spacing: 3px;
    margin-bottom: 1rem;

}
.slideshow-item-text p{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    /* can space */
    letter-spacing: 1px;
    font-weight: 300;
}
@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}
@keyframes zoom{
    100%{
        transform: scale(1.2);
    }
}